.bg-blue-lightest {
  background-color: #edf2fa !important;
}

a.bg-blue-lightest:hover, a.bg-blue-lightest:focus,
button.bg-blue-lightest:hover,
button.bg-blue-lightest:focus {
  background-color: #c5d5ef !important;
}

.bg-blue-lighter {
  background-color: #c8d9f1 !important;
}

a.bg-blue-lighter:hover, a.bg-blue-lighter:focus,
button.bg-blue-lighter:hover,
button.bg-blue-lighter:focus {
  background-color: #9fbde7 !important;
}

.bg-blue-light {
  background-color: #7ea5dd !important;
}

a.bg-blue-light:hover, a.bg-blue-light:focus,
button.bg-blue-light:hover,
button.bg-blue-light:focus {
  background-color: #5689d2 !important;
}

.bg-blue-dark {
  background-color: #3866a6 !important;
}

a.bg-blue-dark:hover, a.bg-blue-dark:focus,
button.bg-blue-dark:hover,
button.bg-blue-dark:focus {
  background-color: #2b4f80 !important;
}

.bg-blue-darker {
  background-color: #1c3353 !important;
}

a.bg-blue-darker:hover, a.bg-blue-darker:focus,
button.bg-blue-darker:hover,
button.bg-blue-darker:focus {
  background-color: #0f1c2d !important;
}

.bg-blue-darkest {
  background-color: #0e1929 !important;
}

a.bg-blue-darkest:hover, a.bg-blue-darkest:focus,
button.bg-blue-darkest:hover,
button.bg-blue-darkest:focus {
  background-color: #010203 !important;
}

.bg-indigo-lightest {
  background-color: #f0f1fa !important;
}

a.bg-indigo-lightest:hover, a.bg-indigo-lightest:focus,
button.bg-indigo-lightest:hover,
button.bg-indigo-lightest:focus {
  background-color: #cacded !important;
}

.bg-indigo-lighter {
  background-color: #d1d5f0 !important;
}

a.bg-indigo-lighter:hover, a.bg-indigo-lighter:focus,
button.bg-indigo-lighter:hover,
button.bg-indigo-lighter:focus {
  background-color: #abb2e3 !important;
}

.bg-indigo-light {
  background-color: #939edc !important;
}

a.bg-indigo-light:hover, a.bg-indigo-light:focus,
button.bg-indigo-light:hover,
button.bg-indigo-light:focus {
  background-color: #6c7bd0 !important;
}

.bg-indigo-dark {
  background-color: #515da4 !important;
}

a.bg-indigo-dark:hover, a.bg-indigo-dark:focus,
button.bg-indigo-dark:hover,
button.bg-indigo-dark:focus {
  background-color: #404a82 !important;
}

.bg-indigo-darker {
  background-color: #282e52 !important;
}

a.bg-indigo-darker:hover, a.bg-indigo-darker:focus,
button.bg-indigo-darker:hover,
button.bg-indigo-darker:focus {
  background-color: #171b30 !important;
}

.bg-indigo-darkest {
  background-color: #141729 !important;
}

a.bg-indigo-darkest:hover, a.bg-indigo-darkest:focus,
button.bg-indigo-darkest:hover,
button.bg-indigo-darkest:focus {
  background-color: #030407 !important;
}

.bg-purple-lightest {
  background-color: #f6effd !important;
}

a.bg-purple-lightest:hover, a.bg-purple-lightest:focus,
button.bg-purple-lightest:hover,
button.bg-purple-lightest:focus {
  background-color: #ddc2f7 !important;
}

.bg-purple-lighter {
  background-color: #e4cff9 !important;
}

a.bg-purple-lighter:hover, a.bg-purple-lighter:focus,
button.bg-purple-lighter:hover,
button.bg-purple-lighter:focus {
  background-color: #cba2f3 !important;
}

.bg-purple-light {
  background-color: #c08ef0 !important;
}

a.bg-purple-light:hover, a.bg-purple-light:focus,
button.bg-purple-light:hover,
button.bg-purple-light:focus {
  background-color: #a761ea !important;
}

.bg-purple-dark {
  background-color: #844bbb !important;
}

a.bg-purple-dark:hover, a.bg-purple-dark:focus,
button.bg-purple-dark:hover,
button.bg-purple-dark:focus {
  background-color: #6a3a99 !important;
}

.bg-purple-darker {
  background-color: #42265e !important;
}

a.bg-purple-darker:hover, a.bg-purple-darker:focus,
button.bg-purple-darker:hover,
button.bg-purple-darker:focus {
  background-color: #29173a !important;
}

.bg-purple-darkest {
  background-color: #21132f !important;
}

a.bg-purple-darkest:hover, a.bg-purple-darkest:focus,
button.bg-purple-darkest:hover,
button.bg-purple-darkest:focus {
  background-color: #08040b !important;
}

.bg-pink-lightest {
  background-color: #fef0f5 !important;
}

a.bg-pink-lightest:hover, a.bg-pink-lightest:focus,
button.bg-pink-lightest:hover,
button.bg-pink-lightest:focus {
  background-color: #fbc0d5 !important;
}

.bg-pink-lighter {
  background-color: #fcd3e1 !important;
}

a.bg-pink-lighter:hover, a.bg-pink-lighter:focus,
button.bg-pink-lighter:hover,
button.bg-pink-lighter:focus {
  background-color: #f9a3c0 !important;
}

.bg-pink-light {
  background-color: #f999b9 !important;
}

a.bg-pink-light:hover, a.bg-pink-light:focus,
button.bg-pink-light:hover,
button.bg-pink-light:focus {
  background-color: #f66998 !important;
}

.bg-pink-dark {
  background-color: #c5577c !important;
}

a.bg-pink-dark:hover, a.bg-pink-dark:focus,
button.bg-pink-dark:hover,
button.bg-pink-dark:focus {
  background-color: #ad3c62 !important;
}

.bg-pink-darker {
  background-color: #622c3e !important;
}

a.bg-pink-darker:hover, a.bg-pink-darker:focus,
button.bg-pink-darker:hover,
button.bg-pink-darker:focus {
  background-color: #3f1c28 !important;
}

.bg-pink-darkest {
  background-color: #31161f !important;
}

a.bg-pink-darkest:hover, a.bg-pink-darkest:focus,
button.bg-pink-darkest:hover,
button.bg-pink-darkest:focus {
  background-color: #0e0609 !important;
}

.bg-red-lightest {
  background-color: #fae9e9 !important;
}

a.bg-red-lightest:hover, a.bg-red-lightest:focus,
button.bg-red-lightest:hover,
button.bg-red-lightest:focus {
  background-color: #f1bfbf !important;
}

.bg-red-lighter {
  background-color: #f0bcbc !important;
}

a.bg-red-lighter:hover, a.bg-red-lighter:focus,
button.bg-red-lighter:hover,
button.bg-red-lighter:focus {
  background-color: #e79292 !important;
}

.bg-red-light {
  background-color: #dc6362 !important;
}

a.bg-red-light:hover, a.bg-red-light:focus,
button.bg-red-light:hover,
button.bg-red-light:focus {
  background-color: #d33a38 !important;
}

.bg-red-dark {
  background-color: #a41a19 !important;
}

a.bg-red-dark:hover, a.bg-red-dark:focus,
button.bg-red-dark:hover,
button.bg-red-dark:focus {
  background-color: #781312 !important;
}

.bg-red-darker {
  background-color: #520d0c !important;
}

a.bg-red-darker:hover, a.bg-red-darker:focus,
button.bg-red-darker:hover,
button.bg-red-darker:focus {
  background-color: #260605 !important;
}

.bg-red-darkest {
  background-color: #290606 !important;
}

a.bg-red-darkest:hover, a.bg-red-darkest:focus,
button.bg-red-darkest:hover,
button.bg-red-darkest:focus {
  background-color: black !important;
}

.bg-orange-lightest {
  background-color: #fff5ec !important;
}

a.bg-orange-lightest:hover, a.bg-orange-lightest:focus,
button.bg-orange-lightest:hover,
button.bg-orange-lightest:focus {
  background-color: peachpuff !important;
}

.bg-orange-lighter {
  background-color: #fee0c7 !important;
}

a.bg-orange-lighter:hover, a.bg-orange-lighter:focus,
button.bg-orange-lighter:hover,
button.bg-orange-lighter:focus {
  background-color: #fdc495 !important;
}

.bg-orange-light {
  background-color: #feb67c !important;
}

a.bg-orange-light:hover, a.bg-orange-light:focus,
button.bg-orange-light:hover,
button.bg-orange-light:focus {
  background-color: #fe9a49 !important;
}

.bg-orange-dark {
  background-color: #ca7836 !important;
}

a.bg-orange-dark:hover, a.bg-orange-dark:focus,
button.bg-orange-dark:hover,
button.bg-orange-dark:focus {
  background-color: #a2602b !important;
}

.bg-orange-darker {
  background-color: #653c1b !important;
}

a.bg-orange-darker:hover, a.bg-orange-darker:focus,
button.bg-orange-darker:hover,
button.bg-orange-darker:focus {
  background-color: #3d2410 !important;
}

.bg-orange-darkest {
  background-color: #331e0e !important;
}

a.bg-orange-darkest:hover, a.bg-orange-darkest:focus,
button.bg-orange-darkest:hover,
button.bg-orange-darkest:focus {
  background-color: #0b0603 !important;
}

.bg-yellow-lightest {
  background-color: #fef9e7 !important;
}

a.bg-yellow-lightest:hover, a.bg-yellow-lightest:focus,
button.bg-yellow-lightest:hover,
button.bg-yellow-lightest:focus {
  background-color: #fcedb6 !important;
}

.bg-yellow-lighter {
  background-color: #fbedb7 !important;
}

a.bg-yellow-lighter:hover, a.bg-yellow-lighter:focus,
button.bg-yellow-lighter:hover,
button.bg-yellow-lighter:focus {
  background-color: #f8e187 !important;
}

.bg-yellow-light {
  background-color: #f5d657 !important;
}

a.bg-yellow-light:hover, a.bg-yellow-light:focus,
button.bg-yellow-light:hover,
button.bg-yellow-light:focus {
  background-color: #f2ca27 !important;
}

.bg-yellow-dark {
  background-color: #c19d0c !important;
}

a.bg-yellow-dark:hover, a.bg-yellow-dark:focus,
button.bg-yellow-dark:hover,
button.bg-yellow-dark:focus {
  background-color: #917609 !important;
}

.bg-yellow-darker {
  background-color: #604e06 !important;
}

a.bg-yellow-darker:hover, a.bg-yellow-darker:focus,
button.bg-yellow-darker:hover,
button.bg-yellow-darker:focus {
  background-color: #302703 !important;
}

.bg-yellow-darkest {
  background-color: #302703 !important;
}

a.bg-yellow-darkest:hover, a.bg-yellow-darkest:focus,
button.bg-yellow-darkest:hover,
button.bg-yellow-darkest:focus {
  background-color: black !important;
}

.bg-green-lightest {
  background-color: #eff8e6 !important;
}

a.bg-green-lightest:hover, a.bg-green-lightest:focus,
button.bg-green-lightest:hover,
button.bg-green-lightest:focus {
  background-color: #d6edbe !important;
}

.bg-green-lighter {
  background-color: #cfeab3 !important;
}

a.bg-green-lighter:hover, a.bg-green-lighter:focus,
button.bg-green-lighter:hover,
button.bg-green-lighter:focus {
  background-color: #b6df8b !important;
}

.bg-green-light {
  background-color: #8ecf4d !important;
}

a.bg-green-light:hover, a.bg-green-light:focus,
button.bg-green-light:hover,
button.bg-green-light:focus {
  background-color: #75b831 !important;
}

.bg-green-dark {
  background-color: #4b9500 !important;
}

a.bg-green-dark:hover, a.bg-green-dark:focus,
button.bg-green-dark:hover,
button.bg-green-dark:focus {
  background-color: #316200 !important;
}

.bg-green-darker {
  background-color: #264a00 !important;
}

a.bg-green-darker:hover, a.bg-green-darker:focus,
button.bg-green-darker:hover,
button.bg-green-darker:focus {
  background-color: #0c1700 !important;
}

.bg-green-darkest {
  background-color: #132500 !important;
}

a.bg-green-darkest:hover, a.bg-green-darkest:focus,
button.bg-green-darkest:hover,
button.bg-green-darkest:focus {
  background-color: black !important;
}

.bg-teal-lightest {
  background-color: #eafaf8 !important;
}

a.bg-teal-lightest:hover, a.bg-teal-lightest:focus,
button.bg-teal-lightest:hover,
button.bg-teal-lightest:focus {
  background-color: #c1f0ea !important;
}

.bg-teal-lighter {
  background-color: #bfefea !important;
}

a.bg-teal-lighter:hover, a.bg-teal-lighter:focus,
button.bg-teal-lighter:hover,
button.bg-teal-lighter:focus {
  background-color: #96e5dd !important;
}

.bg-teal-light {
  background-color: #6bdbcf !important;
}

a.bg-teal-light:hover, a.bg-teal-light:focus,
button.bg-teal-light:hover,
button.bg-teal-light:focus {
  background-color: #42d1c2 !important;
}

.bg-teal-dark {
  background-color: #22a295 !important;
}

a.bg-teal-dark:hover, a.bg-teal-dark:focus,
button.bg-teal-dark:hover,
button.bg-teal-dark:focus {
  background-color: #19786e !important;
}

.bg-teal-darker {
  background-color: #11514a !important;
}

a.bg-teal-darker:hover, a.bg-teal-darker:focus,
button.bg-teal-darker:hover,
button.bg-teal-darker:focus {
  background-color: #082723 !important;
}

.bg-teal-darkest {
  background-color: #092925 !important;
}

a.bg-teal-darkest:hover, a.bg-teal-darkest:focus,
button.bg-teal-darkest:hover,
button.bg-teal-darkest:focus {
  background-color: black !important;
}

.bg-cyan-lightest {
  background-color: #e8f6f8 !important;
}

a.bg-cyan-lightest:hover, a.bg-cyan-lightest:focus,
button.bg-cyan-lightest:hover,
button.bg-cyan-lightest:focus {
  background-color: #c1e7ec !important;
}

.bg-cyan-lighter {
  background-color: #b9e3ea !important;
}

a.bg-cyan-lighter:hover, a.bg-cyan-lighter:focus,
button.bg-cyan-lighter:hover,
button.bg-cyan-lighter:focus {
  background-color: #92d3de !important;
}

.bg-cyan-light {
  background-color: #5dbecd !important;
}

a.bg-cyan-light:hover, a.bg-cyan-light:focus,
button.bg-cyan-light:hover,
button.bg-cyan-light:focus {
  background-color: #3aabbd !important;
}

.bg-cyan-dark {
  background-color: #128293 !important;
}

a.bg-cyan-dark:hover, a.bg-cyan-dark:focus,
button.bg-cyan-dark:hover,
button.bg-cyan-dark:focus {
  background-color: #0c5a66 !important;
}

.bg-cyan-darker {
  background-color: #09414a !important;
}

a.bg-cyan-darker:hover, a.bg-cyan-darker:focus,
button.bg-cyan-darker:hover,
button.bg-cyan-darker:focus {
  background-color: #03191d !important;
}

.bg-cyan-darkest {
  background-color: #052025 !important;
}

a.bg-cyan-darkest:hover, a.bg-cyan-darkest:focus,
button.bg-cyan-darkest:hover,
button.bg-cyan-darkest:focus {
  background-color: black !important;
}

.bg-white-lightest {
  background-color: white !important;
}

a.bg-white-lightest:hover, a.bg-white-lightest:focus,
button.bg-white-lightest:hover,
button.bg-white-lightest:focus {
  background-color: #e6e5e5 !important;
}

.bg-white-lighter {
  background-color: white !important;
}

a.bg-white-lighter:hover, a.bg-white-lighter:focus,
button.bg-white-lighter:hover,
button.bg-white-lighter:focus {
  background-color: #e6e5e5 !important;
}

.bg-white-light {
  background-color: white !important;
}

a.bg-white-light:hover, a.bg-white-light:focus,
button.bg-white-light:hover,
button.bg-white-light:focus {
  background-color: #e6e5e5 !important;
}

.bg-white-dark {
  background-color: #cccccc !important;
}

a.bg-white-dark:hover, a.bg-white-dark:focus,
button.bg-white-dark:hover,
button.bg-white-dark:focus {
  background-color: #b3b2b2 !important;
}

.bg-white-darker {
  background-color: #666666 !important;
}

a.bg-white-darker:hover, a.bg-white-darker:focus,
button.bg-white-darker:hover,
button.bg-white-darker:focus {
  background-color: #4d4c4c !important;
}

.bg-white-darkest {
  background-color: #333333 !important;
}

a.bg-white-darkest:hover, a.bg-white-darkest:focus,
button.bg-white-darkest:hover,
button.bg-white-darkest:focus {
  background-color: #1a1919 !important;
}

.bg-gray-lightest {
  background-color: #f3f4f5 !important;
}

a.bg-gray-lightest:hover, a.bg-gray-lightest:focus,
button.bg-gray-lightest:hover,
button.bg-gray-lightest:focus {
  background-color: #d7dbde !important;
}

.bg-gray-lighter {
  background-color: #dbdde0 !important;
}

a.bg-gray-lighter:hover, a.bg-gray-lighter:focus,
button.bg-gray-lighter:hover,
button.bg-gray-lighter:focus {
  background-color: #c0c3c8 !important;
}

.bg-gray-light {
  background-color: #aab0b6 !important;
}

a.bg-gray-light:hover, a.bg-gray-light:focus,
button.bg-gray-light:hover,
button.bg-gray-light:focus {
  background-color: #8f979e !important;
}

.bg-gray-dark {
  background-color: #6b7278 !important;
}

a.bg-gray-dark:hover, a.bg-gray-dark:focus,
button.bg-gray-dark:hover,
button.bg-gray-dark:focus {
  background-color: #53585d !important;
}

.bg-gray-darker {
  background-color: #36393c !important;
}

a.bg-gray-darker:hover, a.bg-gray-darker:focus,
button.bg-gray-darker:hover,
button.bg-gray-darker:focus {
  background-color: #1e2021 !important;
}

.bg-gray-darkest {
  background-color: #1b1c1e !important;
}

a.bg-gray-darkest:hover, a.bg-gray-darkest:focus,
button.bg-gray-darkest:hover,
button.bg-gray-darkest:focus {
  background-color: #030303 !important;
}

.bg-gray-dark-lightest {
  background-color: #ebebec !important;
}

a.bg-gray-dark-lightest:hover, a.bg-gray-dark-lightest:focus,
button.bg-gray-dark-lightest:hover,
button.bg-gray-dark-lightest:focus {
  background-color: #d1d1d3 !important;
}

.bg-gray-dark-lighter {
  background-color: #c2c4c6 !important;
}

a.bg-gray-dark-lighter:hover, a.bg-gray-dark-lighter:focus,
button.bg-gray-dark-lighter:hover,
button.bg-gray-dark-lighter:focus {
  background-color: #a8abad !important;
}

.bg-gray-dark-light {
  background-color: #717579 !important;
}

a.bg-gray-dark-light:hover, a.bg-gray-dark-light:focus,
button.bg-gray-dark-light:hover,
button.bg-gray-dark-light:focus {
  background-color: #585c5f !important;
}

.bg-gray-dark-dark {
  background-color: #2a2e33 !important;
}

a.bg-gray-dark-dark:hover, a.bg-gray-dark-dark:focus,
button.bg-gray-dark-dark:hover,
button.bg-gray-dark-dark:focus {
  background-color: #131517 !important;
}

.bg-gray-dark-darker {
  background-color: #15171a !important;
}

a.bg-gray-dark-darker:hover, a.bg-gray-dark-darker:focus,
button.bg-gray-dark-darker:hover,
button.bg-gray-dark-darker:focus {
  background-color: black !important;
}

.bg-gray-dark-darkest {
  background-color: #0a0c0d !important;
}

a.bg-gray-dark-darkest:hover, a.bg-gray-dark-darkest:focus,
button.bg-gray-dark-darkest:hover,
button.bg-gray-dark-darkest:focus {
  background-color: black !important;
}

.bg-azure-lightest {
  background-color: #ecf7fe !important;
}

a.bg-azure-lightest:hover, a.bg-azure-lightest:focus,
button.bg-azure-lightest:hover,
button.bg-azure-lightest:focus {
  background-color: #bce3fb !important;
}

.bg-azure-lighter {
  background-color: #c7e6fb !important;
}

a.bg-azure-lighter:hover, a.bg-azure-lighter:focus,
button.bg-azure-lighter:hover,
button.bg-azure-lighter:focus {
  background-color: #97d1f8 !important;
}

.bg-azure-light {
  background-color: #7dc4f6 !important;
}

a.bg-azure-light:hover, a.bg-azure-light:focus,
button.bg-azure-light:hover,
button.bg-azure-light:focus {
  background-color: #4daef3 !important;
}

.bg-azure-dark {
  background-color: #3788c2 !important;
}

a.bg-azure-dark:hover, a.bg-azure-dark:focus,
button.bg-azure-dark:hover,
button.bg-azure-dark:focus {
  background-color: #2c6c9a !important;
}

.bg-azure-darker {
  background-color: #1c4461 !important;
}

a.bg-azure-darker:hover, a.bg-azure-darker:focus,
button.bg-azure-darker:hover,
button.bg-azure-darker:focus {
  background-color: #112839 !important;
}

.bg-azure-darkest {
  background-color: #0e2230 !important;
}

a.bg-azure-darkest:hover, a.bg-azure-darkest:focus,
button.bg-azure-darkest:hover,
button.bg-azure-darkest:focus {
  background-color: #020609 !important;
}

.bg-lime-lightest {
  background-color: #f2fbeb !important;
}

a.bg-lime-lightest:hover, a.bg-lime-lightest:focus,
button.bg-lime-lightest:hover,
button.bg-lime-lightest:focus {
  background-color: #d6f3c1 !important;
}

.bg-lime-lighter {
  background-color: #d7f2c2 !important;
}

a.bg-lime-lighter:hover, a.bg-lime-lighter:focus,
button.bg-lime-lighter:hover,
button.bg-lime-lighter:focus {
  background-color: #bbe998 !important;
}

.bg-lime-light {
  background-color: #a3e072 !important;
}

a.bg-lime-light:hover, a.bg-lime-light:focus,
button.bg-lime-light:hover,
button.bg-lime-light:focus {
  background-color: #88d748 !important;
}

.bg-lime-dark {
  background-color: #62a82a !important;
}

a.bg-lime-dark:hover, a.bg-lime-dark:focus,
button.bg-lime-dark:hover,
button.bg-lime-dark:focus {
  background-color: #4a7f20 !important;
}

.bg-lime-darker {
  background-color: #315415 !important;
}

a.bg-lime-darker:hover, a.bg-lime-darker:focus,
button.bg-lime-darker:hover,
button.bg-lime-darker:focus {
  background-color: #192b0b !important;
}

.bg-lime-darkest {
  background-color: #192a0b !important;
}

a.bg-lime-darkest:hover, a.bg-lime-darkest:focus,
button.bg-lime-darkest:hover,
button.bg-lime-darkest:focus {
  background-color: #010200 !important;
}

.display-1 i,
.display-2 i,
.display-3 i,
.display-4 i {
  vertical-align: baseline;
  font-size: 0.815em;
}

.text-inherit {
  color: inherit !important;
}

.text-default {
  color: #495057 !important;
}

.text-muted-dark {
  color: #6e7687 !important;
}

.tracking-tight {
  letter-spacing: -0.05em !important;
}

.tracking-normal {
  letter-spacing: 0 !important;
}

.tracking-wide {
  letter-spacing: 0.05em !important;
}

.leading-none {
  line-height: 1 !important;
}

.leading-tight {
  line-height: 1.25 !important;
}

.leading-normal {
  line-height: 1.5 !important;
}

.leading-loose {
  line-height: 2 !important;
}

.bg-blue {
  background-color: #467fcf !important;
}

a.bg-blue:hover, a.bg-blue:focus,
button.bg-blue:hover,
button.bg-blue:focus {
  background-color: #2f66b3 !important;
}

.text-blue {
  color: #467fcf !important;
}

.bg-indigo {
  background-color: #6574cd !important;
}

a.bg-indigo:hover, a.bg-indigo:focus,
button.bg-indigo:hover,
button.bg-indigo:focus {
  background-color: #3f51c1 !important;
}

.text-indigo {
  color: #6574cd !important;
}

.bg-purple {
  background-color: #a55eea !important;
}

a.bg-purple:hover, a.bg-purple:focus,
button.bg-purple:hover,
button.bg-purple:focus {
  background-color: #8c31e4 !important;
}

.text-purple {
  color: #a55eea !important;
}

.bg-pink {
  background-color: #f66d9b !important;
}

a.bg-pink:hover, a.bg-pink:focus,
button.bg-pink:hover,
button.bg-pink:focus {
  background-color: #f33d7a !important;
}

.text-pink {
  color: #f66d9b !important;
}

.bg-red {
  background-color: #cd201f !important;
}

a.bg-red:hover, a.bg-red:focus,
button.bg-red:hover,
button.bg-red:focus {
  background-color: #a11918 !important;
}

.text-red {
  color: #cd201f !important;
}

.bg-orange {
  background-color: #fd9644 !important;
}

a.bg-orange:hover, a.bg-orange:focus,
button.bg-orange:hover,
button.bg-orange:focus {
  background-color: #fc7a12 !important;
}

.text-orange {
  color: #fd9644 !important;
}

.bg-yellow {
  background-color: #f1c40f !important;
}

a.bg-yellow:hover, a.bg-yellow:focus,
button.bg-yellow:hover,
button.bg-yellow:focus {
  background-color: #c29d0b !important;
}

.text-yellow {
  color: #f1c40f !important;
}

.bg-green {
  background-color: #5eba00 !important;
}

a.bg-green:hover, a.bg-green:focus,
button.bg-green:hover,
button.bg-green:focus {
  background-color: #448700 !important;
}

.text-green {
  color: #5eba00 !important;
}

.bg-teal {
  background-color: #2bcbba !important;
}

a.bg-teal:hover, a.bg-teal:focus,
button.bg-teal:hover,
button.bg-teal:focus {
  background-color: #22a193 !important;
}

.text-teal {
  color: #2bcbba !important;
}

.bg-cyan {
  background-color: #17a2b8 !important;
}

a.bg-cyan:hover, a.bg-cyan:focus,
button.bg-cyan:hover,
button.bg-cyan:focus {
  background-color: #117a8b !important;
}

.text-cyan {
  color: #17a2b8 !important;
}

.bg-white {
  background-color: #fff !important;
}

a.bg-white:hover, a.bg-white:focus,
button.bg-white:hover,
button.bg-white:focus {
  background-color: #e6e5e5 !important;
}

.text-white {
  color: #fff !important;
}

.bg-gray {
  background-color: #868e96 !important;
}

a.bg-gray:hover, a.bg-gray:focus,
button.bg-gray:hover,
button.bg-gray:focus {
  background-color: #6c757d !important;
}

.text-gray {
  color: #868e96 !important;
}

.bg-gray-dark {
  background-color: #343a40 !important;
}

a.bg-gray-dark:hover, a.bg-gray-dark:focus,
button.bg-gray-dark:hover,
button.bg-gray-dark:focus {
  background-color: #1d2124 !important;
}

.text-gray-dark {
  color: #343a40 !important;
}

.bg-azure {
  background-color: #45aaf2 !important;
}

a.bg-azure:hover, a.bg-azure:focus,
button.bg-azure:hover,
button.bg-azure:focus {
  background-color: #1594ef !important;
}

.text-azure {
  color: #45aaf2 !important;
}

.bg-lime {
  background-color: #7bd235 !important;
}

a.bg-lime:hover, a.bg-lime:focus,
button.bg-lime:hover,
button.bg-lime:focus {
  background-color: #63ad27 !important;
}

.text-lime {
  color: #7bd235 !important;
}